{% extends "blog/base.html" %}

{% block content %}
<style media="screen">
  #gerencia{
    background-color: #35AFD2;
    color: white;
  }
</style>
<div class="card center-align-login" style="box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);">
  <div class="container" style="padding: 15px 10px 15px;">
    {% if form.errors %}
        <p style="font-size:15px; text-align:justify; max-width:210px; color:red">Seu nome de usuário ou senha não estão corretos. Tente novamente</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        {{ form.username.label_tag }}<br>
        {{ form.username }}<br>
        {{ form.password.label_tag }}<br>
        {{ form.password }}<br>
        <div style="text-align:center">
          <button type="submit" value="login">Logar</button>
        </div>
      </div>
          <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
