{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Marc's Blog</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <div class="topnav" id="myTopnav">
    <a href="{% url 'post_list' %}" id="home">Inicio</a>
    <a href="{% url 'search' %}" id="pesquisa">Pesquisa</a>
    {% if user.is_authenticated %}
      <a href="{% url 'post_new' %}">Nova postagem</a>
      <!-- <a href="{% url 'authors' %}">Minhas Postagens</a> -->
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" id="gerencia">Gerencia</a>
    {% endif %}
    <a href="{% url 'about' %}" id="sobre">Sobre</a>
    <span href="">Marc's Blog</span>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="font-size:15px;">&#9776;</a>
  </div>
</header>

<main class="content">
  {% block content %}
  {% endblock %}
</main>

<footer class="footer">
  <p>&#169; Marcel Marques 2017</p>
</footer>


<!--  Scripts -->
<script type="text/javascript">
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
</script>
  </body>
</html>
