{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<style media="screen">
  .index{
    display:none;
  }
</style>
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center">
        <img class="header hide-on-med-and-up" src="{% static 'eco.png' %}" alt="EcoManager" width="80%">
        <img class="header hide-on-small-only" src="{% static 'eco.png' %}" alt="EcoManager" width="350px">
      </div>
      <div class="row center">
        <h5 class="header col s12" style="text-shadow: 1px 1px 2px black;">Um moderno sistema de gerenciamento de energia</h5>
      </div>
      <div class="row center">
        <a href="https://drive.google.com/file/d/0B4sZHOhF5e6mdWtDRmhMX3dhMjQ/view?usp=sharing" id="download-button" class="btn-large waves-effect waves-light blue lighten-1" style="margin:10px">Baixar relatório</a>
        <a href="https://drive.google.com/file/d/0B4sZHOhF5e6mb25jcTVTRS1CbHM/view?usp=sharing" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Baixar Análise</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'energiam.jpg' %}" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Praticidade</h5>

          <p class="light" style="text-align:justify">
            Acesso remoto através de smartphone ou tablet, para o gerenciamento de energia no seu estabelecimento comercial.
            Agende o acionamento e desligamento elétrico de sua empresa, desligue salas ou prédios inteiros ao alcance de um toque. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Customização</h5>

          <p class="light" style="text-align:justify">
            Criação de perfis adaptados a períodos do ano, datas específicas ou características
            próprias de sua empresa obtidas através de relatórios mensais gerados pelos sensores dos nossos microcontroladores para a gestão
            personalizada obtendo o máximo de eficiência em seu consumo elétrico geral.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Economia</h5>

          <p class="light" style="text-align:justify">
            Economize mais com desligamentos agendados e com os perfis customizados. Saiba exatamente quais salas e ambientes
            do seu negócio são as que mais  consomem energia e receba nossas dicas de lampadas,
            climatizadores e outros aparelhos elétricos mais modernos econômicos para uma redução eficiente desse consumo.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center" style="margin-top:-40px">
        <h5 class="header col s12" style="text-shadow: 1px 1px 2px black;">Controle e acompanhe seu consumo energético em qualquer lugar</h5>
      </div>
      <div class="center">
        <a href="https://docs.google.com/uc?export=download&id=0B1KPxQ6Uj8AGOS1wRnpsb25jQlk" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Baixar APK</a>
        <a href="http://www.youtube.com/watch?v=WIcqigws3KI" style="margin-left:10px" id="download-button" class="btn-large waves-effect waves-light orange">Ver Vídeo</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'Smartphone-Future-0001.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i>Conhecendo Mais</h3>
        <ul class="collapsible" data-collapsible="accordion" style="margin-top:25px">
           <li>
             <div class="collapsible-header"><i class="material-icons">trending_up</i>Nossa Missão</div>
             <div class="collapsible-body" style="text-align:justify"><span>Promover uma eficiência energética consistente ao obter um melhor desempenho
               na produção de um serviço com um menor gasto de energia, usando a modernização de equipamentos e processos no sentido
               de melhoria em reduzir consumo.</span></div>
           </li>
           <li>
             <div class="collapsible-header active"><i class="material-icons">attach_money</i>Modelo de Negócios</div>
             <div class="collapsible-body" style="text-align:justify"><span>Nossa empresa oferta seu produto como serviço, portanto estamos adequado aos modelos de SaaS
                (software as a service), ou seja, oferecemos nosso software de gerenciamento e nossa infraestrutura instalada em sua empresa
                como um serviço que pode ser pago mensalmente ou anualmente. Com este modelo visamos atingir um público maior tendo em vista
                que podemos oferecer preços mais competitivos além de poder manter o nosso suporte 24 horas no ar, uma facilidade que está
                disponível também via aplicativo para solução de quaisquer necessidade em relação ao nosso software ou a nossa infrestrutura.
              </span></div>
           </li>
           <li>
             <div class="collapsible-header"><i class="material-icons">memory</i>Tecnologia</div>
             <div class="collapsible-body" style="text-align:justify"><span>Nossa tecnologia funciona com microcontroladores arduíno com sensores instalados junto a placa
                o que nos permite regular, customizar e monitorar o consumo de energia elétrica de todos os aparelhos ligados a rede elétrica.
                O gerenciamento será feito através de aplicativo para tablet e smartphone disponível através das maiores lojas de aplicativos da atualidade
                (iOS, Android e PC). O acesso será feito através da criação de um login e senha aprovado por nossa equipe de gerenciamento, para sua maior segurança.
              </span></div>
           </li>
         </ul>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12" style="text-shadow: 1px 2px 5px black;">Economia e contribuição para um mundo melhor</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'f.jpg' %}" alt="Unsplashed background img 3"></div>
</div>


{% endblock %}

<!--
new
{% for post in posts %}
  <div class="container">
        <h5><a href="" style="color: #132731">{{ post.title }}</a></h5>
        <p style="text-align: justify">{{ post.text|linebreaksbr|slice:":355"}}...</p><br>
        <p style="color: #aeaeae">Publicado em: {{ post.published_date }} </p>
        <a href="{% url 'post_detail' pk=post.pk %}" class="btn blue waves-effect waves-light right">Ler Completo</a>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        <span class="right" style="margin-right:50px">Autor: {{ post.author }}</span>

  </div><br><br><br><br><br>
{% endfor %} -->
