{% extends 'blog/base.html' %}

{% block style %}
  #home{
    background-color: #35AFD2;
    color: white;
  }
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="card">
    <div style="text-align:center">
      <img src="{{ post.url }}" alt="" style="width:100%; height:200px;">
    </div>
    <div class="container" style="padding: 15px 10px 15px">
          <h1 style="font-size:19px">{{ post.title }}</h1>
          <p style="text-align: justify">{{ post.text|linebreaksbr|slice:":355"}}...</p>
          <p style="color: #aeaeae; text-align:left; font-size:15px;">Publicado em: {{ post.published_date }} </p>
          <p style="text-align:left; font-size:15px;">Autor: {{ post.author }}</p>
          <div style="text-align:right">
          <a href="{% url 'post_detail' pk=post.pk %}" class="btn" onclick="return Ler()">Ler Completo</a>
            {% if post.approved_comments.count > 0 %}
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-color" onclick="return Comentario()">{{ post.comments.all.count }} Comentários</a>
            {% else %}
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn-color-orange btn" onclick="return Comentario()"> {{ post.comments.all.count }} Comentários</a>
            {% endif %}
          </div>
    </div>
  </div>
  <script>
    function Comentario() {
       var getInput = 1;
       localStorage.setItem("storageName",getInput);
    }
    function Ler() {
       var getInput = 0;
       localStorage.setItem("storageName",getInput);
    }
  </script>
  {% endfor %}
{% endblock %}
