{% extends 'blog/base.html' %}

{% block style %}
  #pesquisa{
    background-color: #35AFD2;
    color: white;
  }
{% endblock %}

{% block content %}

<div class="card">
  <div class="container" style="padding: 15px 10px 15px; text-align:center">
    <form method="get">
          <input name="title" id="id_title" type="text" placeholder="Busca por título">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    </div>
  </div>

      {% for post in filter.qs %}
      <div class="card">
        <div class="container" style="padding: 15px 10px 15px">
            <h3>{{ post.title }}</h3>
            <p style="text-align: justify">{{ post.text|linebreaksbr|slice:":355"}}...</p><br>
            <p style="color: #aeaeae; text-align:left">Publicado em: {{ post.published_date }} </p>
            <div style="text-align:left">
              <span>Autor: {{ post.author }}</span>
            </div>
            <div style="text-align:right">
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn">Ler Completo</a>
              {% if post.approved_comments.count > 0 %}
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-color">{{ post.approved_comments.count }} Comentários</a>
              {% else %}
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn-color-orange btn"> {{ post.approved_comments.count }} Comentários</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <p>Nenhuma postagem com essas palavras encontrada :(</p>
      {% endfor %}

    {% endblock %}
